.home {
  width: 70%;
  margin: auto;
  transition:all .2s;
  &-about {
    margin-bottom: $gutter;
    &-title {
      text-align: center;
      font-size: 2.4rem;
      color: $color5;
      padding: 0 2rem;
      margin-bottom: $gutter;
    }
    &-ph {
      display: inline-block;
      width: 50%;
    }
    &-text {
      display: inline-block;
      color: $color5;
      background-color: $color1;
      line-height: 3rem;
      width: 50%;
      height: 0;
      padding-bottom: 25%;
      font-size: 1.6rem;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}
